/*home*/
@import url('https://fonts.googleapis.com/css2?family=Gulzar&family=Montserrat&family=Playfair+Display&family=Raleway&family=Roboto+Slab:wght@500&family=Source+Sans+Pro&display=swap');

.name-image{
  border-radius: 20px;
  margin-top: 10px;
}

img.mypicture{
  clip-path: circle();
  width: 250px;
  position: relative;
  left: -14%;
  top: -10%;
}

.start{
  background-image: url(./images/about1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.intro{
  padding: 6em;
  margin: 0em;
  border: 0em;
  overflow-y: hidden;
}

.intro h3{
  margin: 17%;
  padding: 25% 5% 0% 10%;
  font-family: 'Roboto Slab', serif;
  font-weight: 5em;
  color: #fca311;
}


/*about*/
.about {
  box-sizing: border-box;
  overflow: hidden;
}

.bg-image {
  /* The image used */
  background-image: url(./images/about2.jpg);
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 91vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
}

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 70%;
  padding: 20px;
  text-align: center;
}

.me{
  color: white;
  position: relative;
  left: 10em;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
}

/* projects*/
h1:first-of-type {
  font-weight: var(--weight1);
  color: var(--varyDarkBlue);
}

h1:last-of-type {
  color: var(--varyDarkBlue);
}

@media (max-width: 400px) {
  h1 {
      font-size: 1.5rem;
  }
}

.header {
  text-align: center;
  line-height: 0.8;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 900;
}

.header p {
  margin: 0 auto;
  line-height: 2;
  color: hsl(221, 51%, 16%);
  font-size: 20px;
}

.box p {
  color: var(--grayishBlue);
}

.box {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px var(--grayishBlue);
  padding: 20px;
  margin: 5px;  
}

img {
  float: right;
}

@media (max-width: 450px) {
  .box {
      height: 170px;
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .box {
      text-align: center;
      height: 200px;
  }
}

.cyan {
  border-top: 3px solid var(--cyan);
}
.red {
  border-top: 3px solid var(--red);
}
.blue {
  border-top: 3px solid var(--blue);
}
.orange {
  border-top: 3px solid var(--orange);
}

h2 {
  color: var(--varyDarkBlue);
  font-weight: var(--weight3);
}

@media (min-width: 950px) {
  .row1-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .box-down {
      position: relative;
      top: 150px;
  }
  .box {
      width: 20%;
   
  }
  .header p {
      width: 30%;
  }
}

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
} 

/*contact*/
.contact-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: var(--bg-color);
}

.left-col {
  width: 45vw;
  height: 100%;
  background-image: url("https://www.history.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTYyNDg1MjE3MTI1Mjc5Mzk4/topic-london-gettyimages-760251843-promo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.right-col {
  background: var(--bg-color);
  width: 50vw;
  height: 100vh;
  padding: 5rem 3.5rem;
}

h4 {
  color:var(--h1-color);
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  font-weight: 300;
}

h4, label, button, .description {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

input, textarea, label {
  width: 40vw;
  display: block;
}
